{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#<div class="followings-container">#}
{#    {% for user in followings %}#}
{#    <div class="user-container">#}
{#        <div class="avatar-container">#}
{#            {% if user.avatar %}#}
{#                <img style="width: 50px; height: 50px; border-radius: 50%" src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" class="avatar">#}
{#            {% else %}#}
{#                <!-- Default avatar or placeholder image if one doesn't exist -->#}
{#                <img style="width: 50px; height: 50px; border-radius: 50%" src="{% static 'user (1).png' %}" alt="Default avatar" class="avatar">#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="username-container">#}
{#            <a href="{% url 'account:profile' user.username %}">{{ user.username }}</a>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{#</div>#}
{##}
{#{% endblock %}#}